[Desktop Entry]
Version=1.0
Name=Meet
Comment=Meet
Exec=omarchy-launch-webapp https://meet.google.com/
Terminal=false
Type=Application
Icon=/home/austinkarren/.local/share/applications/icons/Meet.png
StartupNotify=true
